{% extends "bank/layout.html" %}

{% block body %}

    {% if message %}
    <div class="message">
        <p>{{message}}</p>
        </div>
    {% endif %}

    <div class="section-container">
        <h3>Add money to your account</h3>
        <br>
       
        <form action="{% url 'deposit' %}" method="post">
            {% csrf_token %} 
        
            <input name="new_deposit" placeholder="$" type="text">
            <button class="btn custom-btn" type="submit" >Deposit</button>
    </div>
{% endblock %}