{% extends "bank/layout.html" %}

{% block body %}
    <div class="section-container">
        <h3>Home</h3>
        <div class="account-balance-2"><p>USD Account Balance: <strong>USD {{usd_account}}</strong></p></div>
        <div class="account-balance-2"><p>EUR Account Balance: <strong>EUR {{eur_account}}</strong></p></div>
        
    </div>
    <br>
    <div class="section-container">
        <h3>Latest transactions</h3>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
  
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No transactions yet</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}