{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Bank{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'bank/styles.css' %}" rel="stylesheet">
        <script src="{% static 'bank/bank.js' %}"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
            <a class="navbar-brand" href="#">BankApp</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>Signed in as {{ user.username }}</strong></a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        
          <div class="container-fluid mt-3">
            <div class="row">
                <!-- Sidebar -->
                {% if user.is_authenticated %}
                <div class="col-md-2">
                    <div class="custom-sidebar border-right" id="sidebar-wrapper">
                        
                        <div >
                            <a href="{% url 'index' %}" class="list-group-item list-group-item-action custom-bg">Home</a>
                            <a href="{% url 'deposit' %}" class="list-group-item list-group-item-action custom-bg">Deposit</a>
                            <a href="{% url 'withdraw' %}" class="list-group-item list-group-item-action custom-bg">Withdraw</a>
                            <a href="{% url 'transfer' %}" class="list-group-item list-group-item-action custom-bg">Transfer</a>
                            <a href="{% url 'eur_exchange' %}" class="list-group-item list-group-item-action custom-bg">Currency Exchange</a>
                            <a href="{% url 'stocks' %}" class="list-group-item list-group-item-action custom-bg">Stocks trading</a>
                            <a href="{% url 'history' %}" class="list-group-item list-group-item-action custom-bg">Transaction history</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Main content -->
                <div class="col-md-10">
                    <div class="body">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>  


    </body>
</html>