{% extends "bank/layout.html" %}

{% block body %}

    {% if message %}
    <div class="message">
    <p>{{message}}</p>
    </div>
    {% endif %}
    <div class="stocks">
        <h3>Stocks trading</h3>
        <p>Available balance: USD {{usd_account}}</p>
        
        <form action="{% url 'stocks' %}" method="post">
            {% csrf_token %} 

            <div class="adv_row">
                <div class="adv_left"><span>Symbol: </span></div>
                <div class="adv_right"><input type="text" id="stock-symbol" name="stock-symbol" placeholder="Symbol"></div>
            </div>
           
           <div class="adv_row">
                <div class="adv_left"><span>Price: </span></div>
                <div class="adv_right"><input type="text" id="stock-price"  disabled></div>
            </div>

            <br><button class="btn custom-btn" id="stock-quote-button" type="button" >Check price</button>
         
            <div class="adv_row">
                <div class="adv_left"><span>Shares: </span></div>
                <div class="adv_right"><input type="number" id="stock-shares" name="stock-shares" placeholder="Shares" min="0" required></div>
            </div>

            <div class="adv_row">
                <div class="adv_left"><span>Total: </span></div>
                <div class="adv_right"><input type="text" id="stock-amount" name="stock-amount" disabled></div>
            </div>
            
            <br>
            <select name="side">
                <option disabled selected value="">Select side</option>
                <option value="buy">Buy</option>
                <option value="sell">Sell</option>
            </select><br>

            <input type="hidden" id="stock-price-hidden" name="stock-price">
            <br>
            <button class="btn custom-btn" type="submit">Trade</button>

        </form>    

    </div>
    <br>
    <div class="stocks">

        <table>
            <thead>
                <tr>
                    <th>Stock Symbol</th>
                    <th>Quantity</th>
  
                </tr>
            </thead>
            <tbody>
                {% for portfolio in portfolios %}
                <tr>
                    <td>{{ portfolio.stock_symbol }}</td>
                    <td>{{ portfolio.quantity }}</td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No stocks in portfolio.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}