{% extends "bank/layout.html" %}

{% block body %}

    {% if message %}
    <div class="message">
        <p>{{message}}</p>
        </div>
    {% endif %}
    
    <div class="section-container">
        <h3>Withdraw money from your account</h3>
        <br>

        <form action="{% url 'withdraw' %}" method="post">
            {% csrf_token %} 
        
            <input name="new_withdraw" placeholder="$" type="text">
            <button class="btn custom-btn" type="submit" >Withdraw</button>
    </div>
{% endblock %}